@import 'variables'
.container
    display: flex


.centered
    display: flex
    justify-content: center
    align-content: center   

li.nav-link
    list-style: none

.nav-link
    a
        text-decoration: none
        color: #0b34a5

.float-right
      float: $float-right

.float-left
      float: $float-left

.margin-right
    margin-right: 10px 
  
.margin-left
    margin-left: 10px 

.icon
    color: $icon-color 

.d-flex
    display: flex

.margin-none
    margin: none

