$float-left:  left;
$float-right:  right;
$margin: 20px;
$padding: .4rem .4rem
$content-padding: 1.5rem 0rem;
$content-padding-lg: 2rem
$primay-color:  #0b34a5
$primay-color-light:  #0b34a5
$accent-color: #818100d5
$white: #fff
$icon-color: $primay-color
$btn-primary:  $primay-color-light
$margin-t-b: 30px
$gray:  #8a8a8a
$text-decoration:  none
